/* Add here all your CSS customizations */
.form-group {
    margin-bottom: 1rem;
    border-top: 1px solid #f3f3f3;
    padding-top: 16px;
    padding-top: 1rem;
}

.badge-kategori-lembaga {
    background-color: #a900f8 !important; /* orange */
    color: white !important;
}

.badge-kategori-perseorangan {
    background-color: #00b6b3 !important; /* teal */
    color: white !important;
}
