/* Add here all your CSS customizations */
.form-group {
    margin-bottom: 1rem;
    border-top: 1px solid #f3f3f3;
    padding-top: 16px;
    padding-top: 1rem;
}

.badge-kategori-lembaga {
    background-color: #a900f8 !important; /* orange */
    color: white !important;
}

.badge-kategori-perseorangan {
    background-color: #00b6b3 !important; /* teal */
    color: white !important;
}

/* === FORCE resize elFinder dialog (Backpack browse field) === */

/* dialog utama */
.std42-dialog.ui-dialog.dialogelfinder {
    width: 95vw !important;
    height: 90vh !important;
    max-width: none !important;
    max-height: none !important;
    top: 5vh !important;
    left: 2.5vw !important;
}

/* isi dialog */
.std42-dialog.ui-dialog.dialogelfinder .ui-dialog-content {
    height: calc(100% - 45px) !important;
    padding: 0 !important;
}

/* container elFinder */
.std42-dialog.ui-dialog.dialogelfinder .elfinder {
    height: 100% !important;
}
